* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top_nav_bg {
    width: 100%;
    height: 320px;
    background: url(../images/bilibili_Banner.jpg) no-repeat;
    background-position: center;
    position: relative;
}

.top_nav_bg .navbar {
    width: 100%;
    height: 40px;
    background-color: hsla(0, 0%, 100%, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.top_nav_bg .navbar .logo {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    /* cursor: pointer; */
}

.top_nav_bg .navbar .logo img {
    width: 24px;
    height: 31px;
    padding: 0 10px;
}

.top_nav_bg .navbar .logo:hover {
    background-color: hsla(0, 0%, 100%, .3);
    transition: all .3s;
}

.top_nav_bg .navbar .menu {
    height: 40px;
}

.top_nav_bg .navbar .menu span {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    transition: all .3s;
    color: #222;
    font-size: 12px;
}

.top_nav_bg .navbar .menu span:hover {
    background-color: hsla(0, 0%, 100%, .3);
    transition: all .3s;
}